.work{

    width:min(1500px,90vw);

    margin:140px auto;

}

.work-menu{

    display:flex;

    justify-content:center;

    gap:45px;

    margin-bottom:40px;

}

.work-menu button{

    background:none;

    border:none;

    font:inherit;

    letter-spacing:2px;

    cursor:pointer;

}

.work-menu .active{

    border-bottom:1px solid #111;

}

.work-layout{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:50px;

}

.work-image img{

    width:100%;

    height:65vh;

    object-fit:cover;

}

.work-info h2{

    font-size:42px;

    font-weight:300;

}

.work-info p{

    line-height:1.8;

}

.work-info ul{

    padding-left:18px;

}