.work{

    width:min(1500px,90vw);

    margin:140px auto 0;

}

.work-menu{

    display:flex;

    justify-content:center;

    gap:70px;

    margin-bottom:50px;

}

.work-menu button{

    background:none;

    border:none;

    font:inherit;

    font-size:18px;

    letter-spacing:2px;

    cursor:pointer;

    padding-bottom:8px;

    position:relative;

}

.work-menu button::after{

    content:"";

    position:absolute;

    left:0;

    bottom:0;

    width:100%;

    height:1px;

    background:#111;

    transform:scaleX(0);

    transform-origin:left;

    transition:transform .25s;

}

.work-menu button:hover::after{

    transform:scaleX(1);

}

.work-menu button.active::after{

    transform:scaleX(1);

}

.work-layout{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:50px;

}

.work-image img{

    width:100%;

    height:65vh;

    object-fit:cover;

}

.work-info h2{

    font-size:45px;

    font-weight:300;

    line-height:1.05;

    margin-bottom:25px;

}

.work-info p{
   line-height:1.6;
      margin-bottom:10px;

}

.work-info ul{

    margin-top:0;

    margin-bottom:18px;

    padding-left:22px;

    line-height:1.7;

}